{% extends "_base.html" %}

{% block content %}
  <h1 class="p-4">Hello, {{name}}!</h1>

  <div class="flex h-screen w-screen items-center justify-center bg-gradient-to-bl from-violet-900 to-teal-400">
    <div class="p-8 w-96 mx-10 cursor-pointer rounded-3xl bg-gray-100 transition duration-300 ease-in-out hover:scale-105 hover:drop-shadow-2xl">
      <div class="-mb-20 -translate-y-1/2 transform">
        <img src="https://i.ibb.co/JWTX98g/Seek-Png-com-kobe-bryant-png-109287.png" alt="Kobe Bryant" title="Kobe Bryant" class="mx-auto h-64" />
      </div>
      <div class="text-center">
        <h3 class="text-center text-4xl font-bold">Kobe Bryant</h3>
        <span class="text-sm">Shooting Guard</span>
      </div>
      <ul class="mt-16 mb-20 flex justify-center text-center text-2xl">
        <li class="flex flex-col"><span class="font-bold">PTS</span> 25.00</li>
        <li class="mx-6 flex flex-col"><span class="font-bold">AST</span> 4.7</li>
        <li class="flex flex-col"><span class="font-bold">FG%</span> 44.7</li>
      </ul>
      <div class="text-center">
        <button class="rounded-xl bg-black px-24 py-2 text-white">Select player</button>
      </div>
    </div>
    <div class="p-8 w-96 mx-10 cursor-pointer rounded-3xl bg-gray-100 transition duration-300 ease-in-out hover:scale-105 hover:drop-shadow-2xl">
      <div class="-mb-20 -translate-y-1/2 transform">
        <img src="https://i.ibb.co/JWTX98g/Seek-Png-com-kobe-bryant-png-109287.png" alt="Kobe Bryant" title="Kobe Bryant" class="mx-auto h-64" />
      </div>
      <div class="text-center">
        <h3 class="text-center text-4xl font-bold">Kobe Bryant</h3>
        <span class="text-sm">Shooting Guard</span>
      </div>
      <ul class="mt-16 mb-20 flex justify-center text-center text-2xl">
        <li class="flex flex-col"><span class="font-bold">PTS</span> 25.00</li>
        <li class="mx-6 flex flex-col"><span class="font-bold">AST</span> 4.7</li>
        <li class="flex flex-col"><span class="font-bold">FG%</span> 44.7</li>
      </ul>
      <div class="text-center">
        <button class="rounded-xl bg-black px-24 py-2 text-white">Select player</button>
      </div>
    </div>
  </div>
{% endblock content %}